*
  box-sizing: border-box

body
  font-family: 'Oswald', sans-serif
  font-size: 1.5rem
  min-height: 100vh
  overflow: hidden 
  width: 100vw
  height: 100vh

a
  text-decoration: none;
  color: #f15a24;

p
  font-size: 1.2rem
  line-height: 1.5rem
  
p.general
  font-family: 'Roboto Slab', serif;
  font-size: 1.1rem
  line-height: 1.6rem;
  margin-bottom: 20px;

  @media(max-width: 1163px)
    font-size: 0.9rem;

p.centered
  text-align: center;
  margin-top: 100px;

  @media(max-width: 768px)
    margin-top: 50px;  

p.left
  text-align: left;
  color: #7f00ff;
  width: 100%;

p.our-story
  font-size: 1.2rem
  line-height: 2rem
  padding-bottom: 30px

  @media(max-width: 1163px)
    font-size: 0.9rem;


p.our-story:first-child:first-letter
  color: #7f00ff
  float: left
  font-size: 5rem
  line-height: 3rem
  padding-top: 4px;
  padding-right: 5px;


h1, h2, h3
  font-family: 'Fjalla One', sans-serif
  font-weight: lighter
  text-transform: uppercase
  margin-top: 30px

h2
  text-align: center
  font-size: 1.7rem
  color: #f15a24
  margin-bottom: 20px

h3
  text-align: left
  color: #7f00ff
  
hr
  background-color: #38f9d7
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%)
  border: none
  height: 4px
